<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>
	<appender name="rootLogger" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="log/image.log" />
		<param name="MaxFileSize" value="2MB" />
		<param name="Append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss}] %m%n" />
		</layout>
	</appender>
	
	<appender name="updateLogger" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="log/update.log" />
		<param name="MaxFileSize" value="2MB" />
		<param name="Append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss}] %m%n" />
		</layout>
	</appender>

	<logger name="com.image" additivity="false">
		<level value="info" />
		<appender-ref ref="rootLogger" />
	</logger>
	
	<logger name="com.image.autoupdate" additivity="false">
		<level value="info" />
		<appender-ref ref="updateLogger" />
	</logger>

	<root>
		<level value="info" />
		<appender-ref ref="rootLogger" />
		<appender-ref ref="updateLogger" />
	</root>
</log4j:configuration>
